node-linker=hoisted
public-hoist-pattern[]=*react*
public-hoist-pattern[]=*react-dom*
shamefully-hoist=true
save-exact=true
pnpm.minimumReleaseAge=43200
prefer-frozen-lockfile=false
ignore-scripts=true